<style type = "text/css">
          .axis path,
          .axis line {
              stroke: #929292;
              shape-rendering: crispEdges;
          }
          .axis text {
              font-family: Georgia;
              font-size: 12px;
          }

          .slideraxis {
              font-family: Georgia;
              font-size: 0px;
          }

          .circleStation {
              fill: #EC96A4;
              opacity: 0.8;                  
          }

          .circle {
              fill: #EC96A4;
              opacity: 0.8;                  
          }

          .title {
              font-family: Georgia;
              font-size: 24px;
              font-weight: bold;
              fill: #696969;
          }

          .subtitle {
              font-family: Georgia;
              font-size: 14px;
              fill: #696969;
          }
          .source{
              font-family: Georgia;
              font-size: 12px;
              fill: #929292;
          }

          .label {
              font-family: Georgia;
              font-size: 10px;
              fill: #929292;
          }

          .legend text {
              font-family: Georgia;
              font-size: 8px;
              fill: #929292;
          }

          .map {
              fill: #92AAC7; 
          }

          .track,
          .track-inset,
          .track-overlay {
            stroke-linecap: round;
          }

          .track {
            stroke: #000;
            stroke-opacity: 0.3;
            stroke-width: 6px;
          }

          .track-inset {
            stroke: #ddd;
            stroke-width: 6px;
          }

          .track-overlay {
            pointer-events: stroke;
            stroke-width: 6px;
            stroke: transparent;
            cursor: crosshair;
          }

          .handle {
            fill: #fff;
            stroke: #000;
            stroke-opacity: 0.5;
            stroke-width: 1px;
          }

          .svg {
              display: block;
          }

          div.tooltip {
              position: absolute;
              text-align: center;
              width: 120px;
              height: 50px;
              padding: 2px;
              font-family: Georgia;
              font-size: 14px;
              fill: #696969;
              background: #FFFFFF;
              border-width: 0.5px;
              border-style: solid;
              border-color: #000000;
              pointer-events: none;
            }

</style>