<style type = "text/css">
        .axis path,
        .axis line {
            stroke: #929292;
            shape-rendering: crispEdges;
        }
        .axis text {
            font-family: Georgia;
            font-size: 12px;
            fill: #929292;
        }
        .circle{
            fill: #EC96A4;
            opacity: 0.25;                  
        }
        .title {
            font-family: Georgia;
            font-size: 18px;
            font-weight: bold;
            fill: #696969;
        }
        .subtitle {
            font-family: Georgia;
            font-size: 14px;
            fill: #696969;
        }
        .source{
            font-family: Georgia;
            font-size: 12px;
            fill: #929292;
        }
        .label {
            font-family: Georgia;
            font-size: 10px;
            fill: #929292;
        }
        .legend text {
            font-family: Georgia;
            font-size: 8px;
            fill: #929292;
        }
        .map {
            fill: #92AAC7; 
        }
</style>